/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
    margin: 0 auto;
    background: #f2f3ee;
    font-family: 'Open Sans', arial, sans-serif;
    color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/

.navigation {
  padding: 5px 0 5px 5px;
  background-color: #FFF;
}

.navigation a {
    color: rgb(86, 90, 92);
    text-transform: uppercase;
}


/***********************************************************************
 *  Hero
 **********************************************************************/


.hero {
  height: 50vh; 
}

.carousel, .carousel-item, .carousel-inner, .w-100 {
  height: 100%!important;
  object-fit: cover!important;
}

/***********************************************************************
 *  Recipes
 **********************************************************************/

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 35px;
}

.jumbotron {
      background: #f2f3ee;
      margin-bottom: 0px;
      padding-bottom: 32px;
}

/***********************************************************************
 *  Recipes Grid
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

.box > img {
    width: 100%;
}

.btn-primary {
  background-color: gray;
  border-color: gray;
}

/* .class {
  box-shadow:  20px 20px #888888 !important;
}*/


.card-img-top {
  height: 35vh;
  object-fit: cover!important;
}
/***********************************************************************
 *  Cooks Grid
 **********************************************************************/


.grid-wrapper-cooks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.cook {
}

.cook-pict img {
  border-radius: 50%;
  margin-bottom: .375rem; /* 6px / 16px */
  width: 125px;
  height: 125px;
}

.author-details h2 {
  font-size: 1.25rem;
  margin-bottom: 25px;
}




/*
 * Adjustments over 900px
*/

@media only screen and (min-width: 900px) {

.navigation {
  padding: 5px 0 5px 5px;
}

h1 {
  text-align: left;
  font-size: 2rem;
}

.section-title {
margin-top:35px;
border-bottom: 1px solid #DCE0E0;
}

.hero {
  height: 70vh; 
}

.card-img-top {
  height: 25vh;
  object-fit: cover!important;
}
}